body {
  margin: 0;
  background-image: url("img/project2background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: rgb(250, 71, 101);
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 0;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.task-area {
  border: 1px solid lightcoral;
  margin-top: 2em;
  color: rgb(253, 108, 108);
  font-size: bold;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightcoral;
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: rgb(224, 88, 111);
  position: absolute;
  width: 60px;
  left: 0px;
  top: 52px;
  padding: 0px;
  transition: 0.5s;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-done {
  flex: 1;
  text-decoration: line-through;
  background-color: rgb(247, 192, 192);
  border: 0.5px solid rgb(253, 108, 108);
  color: white;
  padding: 1em;
}

.task-content {
  flex: 1;
  padding: 1em;
  background-color: white;
}

/* .icon {
  background-color: white;
} */

.icon i {
  margin: 0 13px;
}

.fa-thumbs-up,
.fa-trash-can {
  color: lightcoral;
}

.task-tabs div {
  cursor: pointer;
}

#add {
  background-color: rgb(247, 192, 192);
  border: 0.5px solid rgb(253, 108, 108);
  color: white;
  font-size: bold;
  padding: 10px;
  border-radius: 5px;
}

#add:hover {
  background-color: lightcoral;
  transform: scale(1.05);
}

#task-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(247, 192, 192);
  border: 0.5px solid rgb(253, 108, 108);
}

@media (max-width: 450px) {
  .container {
    justify-items: center;
  }
  .input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #add {
    width: 70%;
  }
}
